*{
    font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: transparent;
}

/* Change navbar color when scrolling  */
.navbar.scrolling-active{
  background-color: #00985B;
  padding: 15px 0 15px 0;
}

.navbar .btn-primary{
  background-color: transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  border: none;
}

.navbar .btn-primary:hover{
  background-color: transparent;
  color: #ffffff;
  border: none;
}

/* Hero Section */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/labuan-bajo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
}
    
.hero h1{
    --animate-delay: 0.7s;
}
    
.hero p{
    --animate-delay: 1.2s;
}

/* Description */
.desk{
  padding-top: 40px;
  text-align: center;
}

.judul{
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.isi{
  font-size: 20px; 
  padding-bottom: 40px;
}

.isi span{
  font-weight: bold;
}

/* Sidebar */
.team{
  margin-top: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.team1{
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
  
.teamimg{
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position: center;
  max-height: 250px;
  max-width: 250px;
  overflow: hidden;
  object-fit: cover;
}


.teamdetail{
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 9px;
  padding: 20px;
  width: 100%;
}

.topdesc{
  margin-bottom: 20px;
}

.btnsosmed{
  /* border: 1px solid #000000; */
  margin-left: 10px;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope{
  font-size: 40px;
  color: #00985B;
}

.fa-instagram:hover{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #517fa4; */
}

.fa-linkedin:hover{
  color: #007bb6
}

.fa-envelope:hover{
  color: #bb0000
}

      
/* footer */
.footer{
    min-height: 50vh;
    background-color: #00985B;
    margin-top: 150px;
}
  
.footer .copyright{
    padding-top: 50px;
}

.footer a{
    color: rgba(255,255,255,0.5);
}

.footer a:hover{
    color: #ffffff;
}


/*---------- MEDIA SCREEN RESPONSIVE ----------*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px){
  
  /* CSS */
  .show-mobile{
    display: none;
  }
    
}
  
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px){
    
  /* CSS */
  .show-mobile{
    display: none;
  }

  .services img{
    width: 220px;
  }
    
}
  
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px){
    
  /* CSS */
  .navbar-toggler {
    border: none;
    outline: none;
    &:focus,
    &:active,
    &-icon:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .navbar{
    background-color: #00985B;
    padding: 15px 0 15px 0;
  }

  .hero .row{
    margin-top:100px;
    display: none;
  }
    
}
  
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    
  /* CSS */
  

    
}
  
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px){
    
  /* CSS */
  .navbar-toggler {
    border: none;
    outline: none;
  
    &:focus,
    &:active,
    &-icon:focus{
      outline: none;
      box-shadow: none;
    }
  }
  .navbar{
    background-color: #00985B;
    padding: 15px 0 15px 0;
  }
  
  .hero .row{
    margin-top:100px;
    display: none;
}
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px){
    
  /* CSS */
  .services h5{
    font-size: 16px;
  }
}