*{
    font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: transparent;
}

/* Change navbar color when scrolling  */
.navbar.scrolling-active{
  background-color: #00985B;
  padding: 15px 0 15px 0;
}

.navbar .btn-primary{
  background-color: transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  border: none;
}

.navbar .btn-primary:hover{
  background-color: transparent;
  color: #ffffff;
  border: none;
}

/* Hero Section */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/labuan-bajo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
    
.hero h1{
    --animate-delay: 0.7s;
}
    
.hero p{
    --animate-delay: 1.2s;
}

  
/* Sidebar */
.awal{
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.sidebar{
  border: 1px solid #ffffff;
  border-radius: 9px;
  padding-top: 30px;
}

.sidebody{
  padding-bottom: 15px;
}

.table tbody > tr:last-child > td{
  border-bottom: transparent;
}

.kanantable{
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.kiritable{
  font-weight: bold;
}

.data{
  padding-right: 10px;
  width: 35%;
}


.sideform{
  border: 1px solid #ffffff;
  border-radius: 9px;
  padding: 30px 15px 15px 15px;
  width: 60%;
  margin-left: 30px;
}

.form-control:focus {
  border-color: #00985B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 152, 91, 0.6);
}

.btnpay{
  background-color: #ffffff;
  border-color: #00985B;
  border-radius: 9;
  width: 100%;
}

.btnpay:hover{
  background-color: #00985B;
  color: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* footer */
.footer{
    min-height: 50vh;
    background-color: #00985B;
    margin-top: 150px;
}
  
.footer .copyright{
    padding-top: 50px;
}

.footer a{
    color: rgba(255,255,255,0.5);
}

.footer a:hover{
    color: #ffffff;
}


/*---------- MEDIA SCREEN RESPONSIVE ----------*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px){
  
  /* CSS */
  .show-mobile{
    display: none;
  }
    
}
  
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px){
    
  /* CSS */
  .show-mobile{
    display: none;
  }

  .services img{
    width: 220px;
  }
    
}
  
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px){
    
  /* CSS */
  .navbar-toggler {
    border: none;
    outline: none;
    &:focus,
    &:active,
    &-icon:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .navbar{
    background-color: #00985B;
    padding: 15px 0 15px 0;
  }

  .hero .row{
    margin-top:100px;
    display: none;
  }
    
}
  
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    
  /* CSS */
  

    
}
  
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px){
    
  /* CSS */
  .navbar-toggler {
    border: none;
    outline: none;
  
    &:focus,
    &:active,
    &-icon:focus{
      outline: none;
      box-shadow: none;
    }
  }
  .navbar{
    background-color: #00985B;
    padding: 15px 0 15px 0;
  }
  
  .hero .row{
    margin-top:100px;
    display: none;
}
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px){
    
  /* CSS */
  .services h5{
    font-size: 16px;
  }
}